@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-luxury-black text-luxury-offwhite antialiased;
  }

  /* Custom selection color */
  ::selection {
    background-color: #FAFAFA;
    color: #050505;
  }

  /* Scrollbar styling */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #050505;
  }
  ::-webkit-scrollbar-thumb {
    background: #2A2A2A;
  }
}
